# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
.serverless

# testing
coverage

# production
build

# secrets
config.prod.json

# misc
.DS_Store
.env
npm-debug.log
pull-request.js
dev-serverless.yml
