body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #1a1a1a;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
:global {
.drag-container {
  max-width: 1000px;
  margin: 20px auto;
}

.drag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
          max-height: 100vh;
          overflow: hidden;
}
@media (max-width: 690px) {
  .drag-list {
    display: block;
    max-height: auto !important;
    overflow: visible;
  }
}

.drag-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px;
  position: relative;
  overflow: hidden;
}
.mobile-switcher {
  display: none;
  width: 100%;
}
.mobile-switcher-item {
  padding: 8px;
  font-size: 13px;
}
@media (max-width: 690px) {
  .drag-column {
    margin: 0px 20px;
  }
  .drag-column:not(:first-of-type) {
    display: none;
  }
  .drag-item {
    margin-left: 0px;
  }
  .mobile-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    min-height: 40px;
    background: black;
    color: #fff;
  }
}
.drag-column h2 {
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.drag-column-on-hold .drag-column-header,
.drag-column-on-hold .is-moved,
.drag-column-on-hold .drag-options {
  background: #FB7D44;
}
.drag-column-in-progress .drag-column-header,
.drag-column-in-progress .is-moved,
.drag-column-in-progress .drag-options {
  background: transparent;
  color: #fff;
}
.drag-column-needs-review .drag-column-header,
.drag-column-needs-review .is-moved,
.drag-column-needs-review .drag-options {
  background: #F4CE46;
}
.drag-column-approved .drag-column-header,
.drag-column-approved .is-moved,
.drag-column-approved .drag-options {
  background: #00B961;
}

.drag-column-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

.drag-inner-list {
  min-height: 50px;
  max-height: 92vh;
  overflow: auto;
  margin-right: -20px;
}

.drag-item {
  margin: 10px;
  height: 100px;
  background: #353535;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 20px;
  padding-bottom: 0px;
}
.drag-item-text {
  color: #fff;
  display: block;
}
.drag-item.is-moving {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background: rgba(0, 0, 0, 0.8);
}

.drag-header-more {
  cursor: pointer;

}
.drag-column-header svg {
  display: none !important;
}

.drag-options {
  position: absolute;
  top: 44px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.drag-options.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.drag-options-label {
  display: block;
  margin: 0 0 5px 0;
}
.drag-options-label input {
  opacity: 0.6;
}
.drag-options-label span {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 400;
  margin-left: 5px;
}

/* Dragula CSS  */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  list-style-type: none;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
}

/* Demo info */
.section {
  padding: 20px;
  text-align: center;
}
.section a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}
.section h4 {
  font-weight: 400;
}
.section h4 a {
  font-weight: 600;
}
}
