
.container {
  line-height: 22.8px;
  position: relative;
  background: $backgroundColor;
}
.list {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  max-height: 100vh;
  overflow: hidden;
  overflow-x: visible;
}
.settings {
  padding: 15px;
  position: absolute;
  right: 0;
  top: 28px;
  width: 300px;
  background: #000;
  color: #fff;
  font-size: 13px;
  user-select: none;
  .section {
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom:0px;
    }
  }
  .header {
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
  }
  .options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .option {
    color: #a8a7a7;
    padding: 3px 8px;
    margin: 5px;
    border: 1px solid;
    font-size: 12px;
    &:hover, &.activeClass {
      color: #fff;
    }
  }
}
.svg {
  position: absolute;
  z-index: 9;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 10px;
  cursor: pointer;
  svg {
    fill: $columnHeadingColor;
  }
}
.loading {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rotatingPlane {
  display: block;
  width: 60px;
  height: 60px;
  background-color: $columnHeadingColor;
  margin: 0 auto;
  animation: rotatePlane 1.2s infinite ease-in-out;
}

@keyframes rotatePlane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.mobile-switcher {
  display: none;
  width: 100%;
  .item {
    padding: 8px;
    font-size: 13px;
  }
}

@media (max-width: 690px) {
  .list {
    display: block;
    max-height: auto !important;
    overflow: visible;
  }
  .settings {
    width: 86vw;
  }
  .mobile-switcher {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    min-height: 40px;
    background: black;
    color: #fff;
  }
}
