
.container {
  line-height: 22.8px;
  position: relative;
}
.list {
  font-size: 14px;
  display: flex;
  align-items: flex-start;
  max-height: 100vh;
  overflow: hidden;
}
.options {
  padding: 20px;
  position: absolute;
  right: 0;
  top: 28px;
  width: 520px;
  background: #000;
  color: #fff;
  font-size: 13px;
  user-select: none;
  .section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom:0px;
    }
  }
  .header {
    font-size: 17px;
    font-weight: bold;
    margin-right: 10px;
    min-width: 100px;
  }
  .option {
    color: #a8a7a7;
    padding: 3px 8px;
    margin: 5px;
    border: 1px solid;
    font-size: 12px;
    &:hover, &.activeClass {
      color: #fff;
    }
  }
}
.svg {
  position: absolute;
  z-index: 9;
  width: 25px;
  height: 25px;
  right: 20px;
  top: 10px;
  cursor: pointer;
  svg {
    fill: #fff;
  }
}

.mobile-switcher {
  display: none;
  width: 100%;
  .item {
    padding: 8px;
    font-size: 13px;
  }
}

@media (max-width: 690px) {
  .list {
    display: block;
    max-height: auto !important;
    overflow: visible;
  }
  .mobile-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    min-height: 40px;
    background: black;
    color: #fff;
  }
}