$iconSize: 20px;
$metaFontSize: 11px;
$metaSpacer: 10px;
$iconSpacer: 5px;

.column {
  flex: 1;
  margin: 0 5px;
  position: relative;
  overflow: hidden;
  user-select: none;
  min-width: 265px;
  h2 {
     font-size: 18px;
     margin: 0;
     text-align: center;
     font-weight: 100;
     width:100%;
     display: flex;
     align-items: center;
     justify-content: center;
  }
  .header {
    background: transparent;
    color: $columnHeadingColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: default;
  }
  .count {
    font-size: 10px;
    display: inline-block;
    margin-left: 5px;
    color: $columnCountColor;
  }
}
.cardList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 50px;
  max-height: 92vh;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin-right: -20px;
  padding-bottom: 50px;
}
/*
.cardList::-webkit-scrollbar:vertical {
    width: 11px;
}
.cardList::-webkit-scrollbar:horizontal {
    height: 11px;
}*/

.card {
  margin: 10px;
  min-height: 100px;
  background: $cardBackgroundColor;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  color: $cardTextColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: box-shadow 0.25s ease-in-out, opacity 0.35s;
  &.hasLabel{
    padding-left: 35px;
  }
  .tagContainer {
    display: flex;
    align-items: center;
    min-height: 22px;
    svg {
      fill: $cardTextColor;
      margin-right: 5px;
      height: 16px;
      width: 16px;
      opacity: .6;
    }
  }
  .labelLink {
    border-bottom: none;
    text-decoration: none;
  }
  .tag {
    position: relative;
    display: flex;
    width: 12px;
    height: 12px;
    border-radius: 2px;
    box-shadow: 0 0px 1px rgba(0,0,0,0.15);
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    &:hover {
      .tooltip {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%) translateY(2px);
      }
    }
  }
  &:hover {
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    .title {
      /*transform: translate3d(0, 0%,0) translate3d(0, .5px, 0);*/
    }
    .linkIcon, .linkIcon svg  {
      opacity: .6;
      transition: opacity 0.35s;
    }

  }
  .linkIcon, .linkIcon svg {
    display: inline-block;
    opacity: 0;
    width: 25px;
    height: 27px;
    position: absolute;
    margin-left: -1px;
    margin-top: -1px;
    fill: $cardTextColor;
  }
  .title {
    margin-bottom: 5px;
    margin-top: 5px;
    transition: transform 0.35s, box-shadow 0.35s ease-in-out, opacity 0.35s;
    transform: translate3d(0, 0%, 0);
    &:hover {
      svg {
        opacity: 1;
      }
    }
    a {
      cursor: pointer;
    }
  }
  .title, .title a {
    color: $cardTextColor;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 13px;
    text-decoration: none;
    border-bottom: none;
  }
}

.tooltip {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  padding: 0px 7px;
  top: 1.4em;
  left: 50%;
  font-size: 12px;
  transform: translateX(-50%) translateY(2px);
  background: $backgroundColor;
  color: $columnHeadingColor;
  text-shadow: 0 0px 1px inherit;
  white-space: nowrap;
  z-index: 2;
  border-radius: 2px;
  transition: opacity 0.2s, transform 0.2s;
}

.timeAgo {
  user-select: none;
  cursor: pointer;
  pointer-events: none;
  margin-top: 5px;
  font-size: $metaFontSize;
  opacity: .5;
  text-align: right;
  margin-bottom: -2px;
}
.assigneeContainer {
  display: flex;
  flex-direction: column;
  min-height: 22px;
}
.leftMeta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  &.hasMilestone {
    align-items: flex-end;
    max-width: 90%;
  }
  svg {
    opacity: .6;
  }
}
.multiplePeople {
  margin-bottom: 5px;
  &:last-of-type {
    margin-bottom: 2px;
  }
}
.assignee {
  user-select: none;
  display: flex;
  align-items: center;
  margin-right: $metaSpacer;
  .name {
    margin-left: $iconSpacer;
    font-size: $metaFontSize;
    cursor: default;
    line-height: 16px;
  }
  .image {
    display: flex;
    align-items: center;
  }
  img {
    height: $iconSize;
    width: $iconSize;
    border-radius: 50%;
  }
}
a.commentLink {
  color: $cardTextColor;
  text-decoration:none;
  border-bottom: none;
}
.comment {
  display: flex;
  margin-right: $metaSpacer;
  .commentIcon {
    height: $iconSize;
    width: $iconSize;
    svg {
      fill: $cardTextColor;
    }
  }
  .commentCount {
    margin-left: 3px;
    font-size: $metaFontSize;
  }
}

.milestone {
  position: absolute;
  right: 15px;
  bottom: 8px;
  font-size: $metaFontSize;
  a {
    display:flex;
    align-items: center;
    text-decoration:none;
    border-bottom: none;
    color: $cardTextColor;
    cursor: pointer;
  }
  .milestoneIcon {
    height: 13px;
    width: 13px;
    overflow: hidden;
    margin-top: -5px;
    margin-right: 0px;
    svg {
      fill: $cardTextColor;
      height: 13px;
      width: 13px;
    }
  }
  .milestoneNumber {
    margin-left: 3px;
  }
}

.label {
  user-select: none;
  width: 20px;
  height: 100%;
  min-width: 20px;
  position: absolute;
  left: 0;
  top: 0px;
  font-size: 10px;
  letter-spacing: 0.5px;
  cursor: default;
  display: flex;
  flex-direction: column;
  .inner {
    white-space: nowrap;
    /* important */
    position: absolute;
    transform: rotate(-90deg) translate(-50%,-100%);
    transform-origin: 0 0;
    top: 50%; left: 100%;
  }
  .innerText {

  }
}

@media (max-width: 1130px) {
  .column {
    margin: 0 2px;
  }
}

@media (max-width: 690px) {
  .column {
    margin: 0px 20px;
  }
  .column:not(:first-of-type) {
    display: none;
  }
  .card {
    margin-left: 0px;
    .title, .title a {
      font-size:16px;
      border-bottom: none;
    }
  }
}
